# RabbitMQ configuration
RABBITMQ_DEFAULT_USER="rabbit"
RABBITMQ_DEFAULT_PASSWORD="rabbitpwd"

# MongoDB configuration
PG_USER="postgres"
PG_PASSWORD="postgrespwd"
PG_DATABASE="init_db"

PG_MLFLOW_USER="mlflow"
PG_MLFLOW_PASSWORD="mlflowpwd"
PG_MLFLOW_DATABASE="mlflow_storage"

PG_CELERY_USER="celery"
PG_CELERY_PASSWORD="celerypwd"
PG_CELERY_DATABASE="celery_storage"

OTEL_USER="otel"
OTEL_PASSWORD="otelpwd"

# MLflow configuration
MLFLOW_BUCKET_NAME="mlflow"
MLFLOW_S3_IGNORE_TLS="true"
DVC_BUCKET_NAME="raw-data"
CELERY_DATA_HOLDER_BUCKET_NAME="celery-data-holder"

# MinIO access keys - these are needed by MLflow
MINIO_ACCESS_KEY="secure_access_key"
MINIO_SECRET_ACCESS_KEY="secure_secret_key"

# MinIO configuration
MINIO_ROOT_USER="s3"
MINIO_ROOT_PASSWORD="miniopwd"

# OTEL-LGTM configuration
GF_USER="grafana"
GF_PASSWORD="grafanapwd"

# Service versions, don't change unless you know you doing!
MINIO_VERSION_TAG="RELEASE.2025-02-18T16-25-55Z"
NGINX_PROXY_VERSION_TAG="1.7.0"
OTEL_VERSION_TAG="0.8.6"
POSTGRES_VERSION_TAG="17.4-alpine3.21"
RABBITMQ_VERSION_TAG="3.9.13-alpine"
